.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;

  text-wrap: wrap;
}

.name-span {
  color: #ffa552;
  font-family: 'Source Code Pro', monospace;
}
