
.about {
  display: flex;
  flex-direction: column;
  gap: 36px;

  max-width: 1000px;
  margin: 0 auto;
}

.paragraph-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tech-card-list {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // Adjust the minimum width of each column
    gap: 16px; // Adjust the gap between cards
    justify-content: center; // Center the entire grid horizontally

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); // Adjust for smaller screens
    }
}

.tech-card-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}