.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.menu-links {
  position: fixed;
  top: 10px;
  margin-right: 125px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  font-size: 32px;
}

button {
  background: inherit;
}

.menu-button {
  position: fixed;
  top: -10px;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: inherit;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.inactive-link {
  pointer-events: none;
  cursor: default;
}

.Cashton-link {
  color: var(--red)
}

.About-link {
  color: var(--yellow)
}

.Portfolio-link {
  color: var(--red)
}

.Contact-link {
  color: var(--yellow)
}