.navbar {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 30px;
}

.navbar-open {
  .menu-links {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 25px var(--bg-color);
    border-radius: 12px;
  }
}

.menu-links {
  position: fixed;
  padding-top: 60px;
  margin-right: 125px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
}

.menu-link {
  padding: 0 20px;
  backdrop-filter: blur(0.75px);
  font-weight: 600;
}

.menu-link:hover {
  text-shadow: 2px 2px 2px var(--bg-color);
}

.menu-button {
  position: fixed;
  top: -10px;
  z-index: 3;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: inherit;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.inactive-link {
  pointer-events: none;
  cursor: default;
}

.Cashton-link {
  color: var(--red)
}

.About-link {
  color: var(--yellow)
}

.Portfolio-link {
  color: var(--red)
}

.Contact-link {
  color: var(--yellow)
}